<menu>
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{#if home}}active{{/if}}"><a href="#">Home</a></li>
        <li role="presentation" class="{{#if about}}active{{/if}}"><a href="#/about">About</a></li>
    </ul>
</menu>